body {
	font: 14px "Century Gothic", Futura, sans-serif;
    background: #001;
    color: #FFF;
}

h2 {
    color: #6A8;
}

h4 {
    color: #275;
}

h3 {
    color: #922;
}

.div-row {
    flex: auto;
    flex-direction: row;
    height: 40%;
    width: 100%;
    background-color: #922;
}